.App{
    align-items: center;
    margin: auto;
}
.navbar{
    background: linear-gradient(to right, #ff5654, #ffdcdc);
}
.dashboard{
    background: linear-gradient(to right, #ff5654, #ffdcdc);
    align-items: center;
    margin: auto;
    margin-top:25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.dashboardtop{
 background: linear-gradient(to right, #ff5654, #ffdcdc);
    align-items: center;
    margin: auto;
    margin-top:25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dashboardtop button{
    background-color:rgb(255,193,72);
    border-radius: 20px;

}
.dashboardtop p{
    margin-top:-5px;
    margin-right: 4px;
}

#formtask{
    margin-top: 100px;
    height:600px;
    border:1px solid #1d3d6d;
}
select{
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
textarea{
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
    /* margin-bottom: 15px; */
}

.inputElemtextarea{
    display: flex;
    flex-direction: column;
    height: 7rem;
    position:relative;
}